.login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        opacity: 0.2;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:40%;
        padding-left: 10%;
        margin-top: 2%;

        .top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            a {
                color: rgba(255, 255, 255, 0.50);
                text-align: center;
                font-family: "Rubik";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 15%;

            form {
                width: 100%;

                .name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                .block {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 10px;
                    background: rgba(214, 185, 252, 0.30);
                    padding: 2%;
                    margin-top: 3%;

                    label {
                        color: rgba(255, 255, 255, 0.50);
                        font-family: "Rubik";
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    input {
                        background: none;
                        border: none;
                        color: #FFF;
                        font-family: "Rubik";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    input::-webkit-input-placeholder {
                        color: #FFF;
                        font-family: "Rubik";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .check {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    margin-top: 4%;
                    margin-bottom: 2%;

                    label {
                        color: #FFF;
                        font-family: "Rubik";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;

                        span {
                            color: #FFAA50;
                            font-family: "Rubik";
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }
                    }

                    input {
                        border-radius: 5px;
                        border: 1px solid #D6B9FC;
                    }
                }
            }

            button {
                color: #FFF;
                font-family: "Rubik";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                border-radius: 10px;
                background: rgba(214, 185, 252, 0.70);
                border: none;
                width: 100%;
                padding: 2%;
                margin-top: 2%;
                cursor: pointer;
            }

            .steam {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-radius: 10px;
                background: rgba(42, 71, 94, 0.53) !important;

                p {
                    margin: 0%;
                }

                img {
                    margin-left: 3%;
                }
            }
        }
    }
}