.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 67%;
  margin: auto;

  h1 {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    color: #eaeaea;
    text-align: center;
    font-family: "Rubik";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .vk {
      color: #4c75a3 !important;
      text-align: center !important;
      font-family: "Rubik" !important;
      font-size: 45px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 200% !important; /* 90px */
    }

    .discord {
      color: #7289da;
      text-align: center;
      font-family: "Rubik";
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%; /* 90px */
    }

    .steam {
      color: #156da1;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "Rubik";
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%; /* 90px */
    }

    .tg {
      color: #29aaeb;
      text-align: center;
      font-family: "Rubik";
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%; /* 90px */
    }

    .youtube {
      color: #f00;
      text-align: center;
      font-family: "Rubik";
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%; /* 90px */
    }
  }
}
@media(max-width:1024px){
  .contacts{
    .socials{
      flex-wrap: wrap;
      justify-content: center;
      p{
        margin: 0 20px;
      }
    }
  }
}
@media(max-width:768px){
  .contacts{
    width: 90%;
    h1{
      font-size: 40px;
    }
    p{
      font-size: 21px;
    }
    .socials{
      p{
        font-size: 40px!important;
      }
    }
  }
}
@media(max-width:450px){
  .contacts{
    h1{
      font-size: 15px;
    }
    p{
      font-size: 11px;
    }
    .socials{
      p{
        font-size: 15px!important;
      }

      .vk {
        font-size: 15px !important;
      }
    }
  }
}