.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    background: #8c798f;
    padding: 3%;
    height: 100%;

    h2 {
      color: #fff;
      font-family: "Rubik";
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    p {
      color: #fff;
      text-align: center;
      font-family: "Rubik";
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 5%;

      p {
        color: rgba(255, 255, 255, 0.6);
        font-family: "Rubik";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }

      button {
        border: none;
        background: none;
        width: 100%;
        margin: 0%;
        padding: 0%;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 20%;

      a {
        width: 100%;
      }

      p {
        color: rgba(255, 255, 255, 0.6);
        font-family: "Rubik";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 67%;
    padding: 1%;
    margin-right: 3%;

    .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 10px;
      background: #282828;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 1% 2%;

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
          color: #fff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-family: "Rubik";
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0%;
        }

        p {
          color: rgba(255, 255, 255, 0.5);
          font-family: "Rubik";
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          margin: 0%;
        }
      }

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 30%;

        p {
          color: #fff;
          font-family: "Rubik";
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-left: 10%;
        }
      }
    }

    .main {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      margin-top: 2%;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        border-radius: 20px;
        background: #282828;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 3%;

        img {
          width: 100%;
        }

        .data {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;

          h4 {
            color: #fff;
            font-family: "Rubik";
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            .name {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;

              input {
                width: 40% !important;
              }
            }

            input {
              border: none;
              border-bottom: 1px solid #fff;
              background: none;
              padding: 1% 0;
              margin-top: 7%;
              width: 100%;
              color: #fff;
              font-family: "Rubik";
              font-size: 24px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }

            input::-webkit-input-placeholder {
              color: #fff;
              font-family: "Rubik";
              font-size: 24px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }

            button {
              border-radius: 10px;
              background: rgba(214, 185, 252, 0.7);
              color: #fff;
              font-family: "Rubik";
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
              width: 100%;
              padding: 3% 0;
              margin-top: 10%;
            }
          }
        }
      }

      .second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 55%;
        margin-left: 5%;

        .discord {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          border-radius: 20px;
          background: #282828;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          padding: 3% 5%;

          h3 {
            color: #fff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: "Rubik";
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 2% 0;
          }

          img {
            width: 100%;
          }

          .account {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 5% 0;

            img {
              width: 10%;
            }

            .username {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              width: 100%;
              margin-left: 2%;

              p {
                color: #fff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: "Rubik";
                font-size: 24px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin: 0%;
              }

              span {
                color: #27a342;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: "Rubik";
                font-size: 24px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
              }
            }
          }
        }

        .events {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          border-radius: 20px;
          background: #282828;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          padding: 3% 5%;
          margin-top: 3%;
          h3 {
            color: #fff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: "Rubik";
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 2% 0;
          }

          img {
            width: 100%;
          }

          p {
            color: #fff;
            font-family: "Rubik";
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }

        .about {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          border-radius: 20px;
          background: #282828;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          padding: 1% 5%;
          margin-top: 3%;

          h3 {
            color: #fff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: "Rubik";
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 2% 0;
          }

          img {
            width: 100%;
          }

          .block {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            h5 {
              color: #fff;
              font-family: "Rubik";
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin: 2% 0;
            }

            p {
              color: #fff;
              font-family: "Rubik";
              font-size: 20px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              margin: 1%;
            }

            span {
              color: #ffaa50;
              font-family: "Rubik";
              font-size: 24px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              margin: 2% 1%;
            }
          }
        }
      }
    }
    .calendar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 70%;
      border-radius: 10px;
      background: #282828;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin-top: 3%;
      padding: 3%;

      h3 {
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Rubik";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .cal {
          padding-bottom: 8%;
        }
      }

      .booking {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 50%;
        // margin-left: 1%;

        h4 {
          color: #fff;
          font-family: "Rubik";
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px; /* 87.5% */
          margin: 0%;
        }

        span {
          color: rgba(255, 255, 255, 0.5);
          font-family: "Rubik";
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 21px; /* 116.667% */
          margin-top: 5%;
        }

        p {
          color: #fff;
          font-family: "Rubik";
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 21px; /* 105% */
          // margin: 0%;
        }

        button {
          border-radius: 10px;
          border: 2px solid #d6b9fc;
          background: none;
          color: #fff;
          text-align: center;
          font-family: "Rubik";
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px; /* 105% */
          padding: 3% 5%;
          width: 100%;
          margin-top: 5%;
        }
      }
    }
  }
}
