.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 67%;
    margin: auto;

    .line {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -10;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    h1 {
        color: #EAEAEA;
        font-family: "Rubik";
        font-size: 58px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;

        .inActive {
            color: #EAEAEA;
            text-align: center;
            font-family: "Rubik";
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            padding: 1% 2% 1% 2%;
        }

        .active {
            color: #EAEAEA;
            text-align: center;
            font-family: "Rubik";
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            border-radius: 10px;
            background: rgba(255, 170, 80, 0.50);
            padding: 1% 2% 1% 2%;
        }

        .active2 {
            color: #EAEAEA;
            text-align: center;
            font-family: "Rubik";
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            border-radius: 10px;
            background: rgba(214, 185, 252, 0.50);
            padding: 1% 2% 1% 2%;
        }
    }

    .block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    .block a {
        text-decoration: none;
        color: #fff;
    }

    .block a:hover {
        text-decoration: underline;
    }

    img {
        margin-top: 5%;
    }

    .transport {
        position: absolute;
        right: 0;
        top: 30%;
    }
}