.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 7%;
  background: rgba(16, 16, 16, 0.7);
  position: relative;
<<<<<<< HEAD
=======
  padding-bottom: 30px;
>>>>>>> 1edc3d0f42a8a0c898416245fbd61838c839e0f7

  .wrapper {
    width: 67%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .left p {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .right a {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-top: 2%;
  }

  .right a:hover {
    opacity: 0.5;
  }

  .line2 {
    position: absolute;
    bottom: 7px;
    left: 0px;
    z-index: -10;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    overflow: hidden;
  }

  .line3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -10;
    overflow: hidden;
  }
}
<<<<<<< HEAD
=======
@media(max-width: 1024px){
  .footer{
    margin-top: 50px;
    .wrapper{
      width: 90%;
      .left{
        .socials{
          width: 50%;
          img{
            width: 90px;
            margin: 10px 0px;
          }
          p{
            min-width: 500px;
          }
        }
      }
      .right{
        width: 30%;
        a{
          margin-top: 30px;
        }
      }
    }
  }
}
@media(max-width: 1024px){
  .footer{
    .wrapper{
      width: 90%;
      .left{
        .socials{
          width: 50%;
          img{
            width: 70px;
            margin: 10px 0px;
          }
          p{
            min-width: 500px;
            font-size: 21px;
          }
        }
      }
      .right{
        width: 40%;
        a{
          margin-top: 20px;
          font-size: 21px;
        }
      }
      .line2, .line3{
        height: 150px;
      }
    }
  }
}
@media(max-width: 450px){
  .footer{
    .wrapper{
      width: 90%;
      .left{
        .socials{
          width: 60%;
          img{
            width: 40px;
            margin: 10px 0px;
          }
          p{
            min-width: 150px;
            font-size: 14px
          }
        }
      }
      .right{
        a{
          font-size: 14px;
        }
      }
    }
    .line2, .line3{
      height: 90px;
    }
  }
}
>>>>>>> 1edc3d0f42a8a0c898416245fbd61838c839e0f7
