.header {
  background-color: rgba(16, 16, 16, 0.7);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 67%;
  }

  .link {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
  }

  .link:hover {
    opacity: 0.5;
  }

  .icon img {
    margin-bottom: 0%;
  }
  .burgerMenuButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    display: none;
    margin-right: 45px;
  }
  .burgerMenuWrapper {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    justify-content: space-between;
    .nav {
      display: none;
    }
    .burgerMenuButton {
      display: block;
      position: relative;
      z-index: 100;
    }
    .burgerMenuWrapper {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
      z-index: 50;
      overflow: hidden;
    }
    .burgerMenu {
      position: absolute;
      z-index: 100;
      right: 130px !important;
      top: 70px;
      right: 130px;
      display: flex;
      padding: 50px 70px;
      border: 5px solid #fff;
      background-color: rgba(16, 16, 16, 1);
      nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        .link {
          margin: 12px 0;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .header {
    img {
      width: 50%;
    }
    .burgerMenuButton {
      margin-right: 10px;
    }
    .burgerMenu {
      right: 10px !important;
      padding: 20px 30px;
    }
  }
}
