.header {
  background-color: rgba(16, 16, 16, 0.7);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 67%;
  }

  .link {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
  }

  .link:hover {
    opacity: 0.5;
  }

  .icon img {
    margin-bottom: 0%;
  }
  
}

