.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .one {
    background-image: url("../Images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 766px;
    margin-top: -150px;
    z-index: -10;
  }

  .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 67%;

    img {
      position: absolute;
      left: 0px;
      z-index: -10;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }

    h2 {
      color: #eaeaea;
      text-align: center;
      font-family: "Rubik";
      font-size: 58px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    p {
      color: #eaeaea;
      text-align: center;
      font-family: "Rubik";
      font-size: 29px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .three {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 67%;
    margin: auto;
    padding-top: 3%;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .column h3 {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0%;
  }

  .column p {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 29px;
    font-weight: 300;
    line-height: normal;
  }

  .four {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 67%;
    margin: auto;
    padding-top: 3%;
    position: relative;
  }

  button {
    position: absolute;
    bottom: -70px;
    right: 0px;
  }
}

@media(max-width: 1024px) {
  .home{
    .two {
      width: 90%;
      margin: 0px 10px 50px 10px;
      h2 {
        font-size: 48px;
        margin-top: 100px;
      }
      p {
        font-size: 23px;
      }
    }
    .three{
      width: 90%;
      .column{
        margin: 0 10px;
        p{
          font-size: 23px;
        }
      }
    }
    .four{
      width: 90%;
      video{
        width: 100%;
      }
    }
  }
}
@media(max-width: 768px){
  .home{
    .one{
      background-position: 85% 0;
      height: 570px;
    }
    .three{
      .column{
        img{
          width: 88px;
        }
        p{
          font-size: 18px;
        }
        h3{
          font-size: 40px;
        }
      }
    }
  }
}
@media(max-width: 450px){
  .home{
    .one{
      background-position: 80% 0;
      height: 300px;
    }
    .two{
      overflow: hidden;
      img{
        width: 200px;
      }
    }
    .three{
      width: 100%;
      .column{
        max-width: 80px;
        text-align: center;
        img{
          width: 43px;
        }
        p{
          font-size: 11px;
        }
        h3{
          font-size: 15px;
        }
      }
    }
  }
}