.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 67%;
  margin: auto;

    .line {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -10;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      margin-top: 0% !important;
    }

  h1 {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
<<<<<<< HEAD
=======
@media(max-width: 1024px){
  .jobs{
    width: 80%;
    h1{
      font-size: 23px;
    }
  }
}
>>>>>>> 1edc3d0f42a8a0c898416245fbd61838c839e0f7
