.login {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  .burgerMenuButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    display: none;
    margin-right: 45px;
  }
  .burgerMenuWrapper {
    display: none;
  }
  .burgerMenu {
    display: none;
  }

  .adaptive {
    display: none;
  }

  .lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.2;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding-left: 10%;
    margin-top: 2%;

    .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      a {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      margin-top: 10%;

      h5 {
        color: rgba(255, 255, 255, 0.5);
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin: 0%;
      }

      h3 {
        color: #fff;
        font-family: "Rubik";
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: rgba(255, 255, 255, 0.5);
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0%;
      }

      a {
        color: #d6b9fc;
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-decoration: none;
      }

      .link {
        width: 100%;
      }

      form {
        width: 100%;

        .block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 10px;
          background: rgba(214, 185, 252, 0.3);
          padding: 2%;
          margin-top: 3%;

          label {
            color: rgba(255, 255, 255, 0.5);
            font-family: "Rubik";
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }

          input {
            background: none;
            border: none;
            color: #fff;
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          input::-webkit-input-placeholder {
            color: #fff;
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
      button {
        color: #fff;
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 10px;
        background: rgba(214, 185, 252, 0.7);
        border: none;
        width: 100%;
        padding: 2%;
        margin-top: 2%;
        cursor: pointer;
      }

      .steam {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        background: rgba(42, 71, 94, 0.53) !important;

        p {
          margin: 0%;
          color: #fff;
          font-family: "Rubik";
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
        }

        img {
          margin-left: 3%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .right {
    width: 40% !important;
  }
  .left {
    width: 50% !important;
    padding-right: 5%;
    padding-left: 5% !important;

    .top {
      width: 100%;
    }
    h5 {
      font-size: 20px !important;
    }

    h3 {
      font-size: 35px !important;
    }

    .main {
      .block {
        label {
          font-size: 12px !important;
        }

        input {
          font-size: 20px;
        }

        input::-webkit-input-placeholder {
          font-size: 20px !important;
        }
      }

      button {
        margin-top: 5% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .login {
    flex-direction: column-reverse;
    align-items: center;

    .lines {
      display: none;
    }

    .right {
      display: none;
    }

    .adaptive {
      width: 100vw;

      img {
        width: 100%;
      }
    }

    .left {
      width: 70% !important;
    }

    .top {
      padding: 3% 0;
    }

    .main {
      align-items: center !important;
      text-align: center;
      width: 100%;

      p {
        width: 100%;
      }
    }
  }

  .top a {
    display: none;
  }

  .burgerMenuButton {
    display: block;
    position: relative;
    z-index: 100;
  }
  .burgerMenuWrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 50;
    overflow: hidden;
  }
  .burgerMenu {
    position: absolute;
    z-index: 100;
    right: 130px !important;
    top: 70px;
    right: 130px;
    display: flex;
    padding: 50px 70px;
    border: 5px solid #fff;
    background-color: rgba(16, 16, 16, 1);
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      .link {
        margin: 12px 0;
      }
    }
  }
}

@media (max-width: 320px) {
  .top {
    img {
      width: 20%;
    }
  }

  .login {
    .left {
      width: 90% !important;

      .main {
        h5 {
          font-size: 15px !important;
          width: 70%;
        }

        h3 {
          font-size: 25px !important;
        }

        p {
          font-size: 15px;
        }

        a {
          font-size: 15px;
        }

        .block {
          label {
            font-size: 10px !important;
          }

          input {
            font-size: 15px !important;
          }

          input::-webkit-input-placeholder {
            font-size: 15px !important;
          }
        }

        button {
          font-size: 15px !important;
          padding: 3%;
        }

        .steam {
          p {
            font-size: 15px !important;
          }

          img {
            width: 10%;
          }
        }
      }
    }
  }
}
