.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 358px;

  img {
    margin-bottom: 5%;
  }

  h5 {
    color: #fff;
    font-family: "Rubik";
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0%;
  }

  p {
    color: #fff;
    font-family: "Rubik";
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
@media(max-width:450px){
  .person{
    img{
      width: 290px;
    }
    h5{
      font-size: 15px;
    }
    p{
      font-size: 11px;
    }
  }
}
