.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 67%;
  margin: auto;

  h1 {
    color: #eaeaea;
    font-family: "Rubik";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .line {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}
@media(max-width: 1024px){
  .team{
    h1{
      font-size: 23px;
    }
    .main{
      justify-content: center;
      width: 90%;
    }
  } 
}
